<div class="recipe-card" name="{{categories}}" season="{{season}}" rating="{{rating}}">
    <button class="save-button" type="button">SAVE</button>
    <div class = "img-container">
        <img src="{{imgURL}}" alt="{{name}}">
    </div>
    <a class = "link-container"href="{{link-to-recipe}}" target="_blank">
        <h2>{{name}}</h2>
    </a>
    <p class = "rating-container">Rating: {{rating}}</p>
</div>
