<div class="recipe-card" name="{{categories}}" season="{{season}}" rating="{{rating}}">
    <button class="save-button" type="button">SAVE</button>
    <img src="{{imgURL}}" alt="{{name}}">
    <a href="{{link-to-recipe}}" target="_blank">
        <h2>{{name}}</h2>
    </a>
    <p>Rating: {{rating}}/5</p>
</div>
